In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("netflix_titles_nov_2019.csv")

In [8]:
data

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,"November 30, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,NaN,"November 30, 2019",2019,TV-G,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",Movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium","November 29, 2019",2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
4,80213643,Chip and Potato,NaN,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",NaN,2019,TV-Y,2 Seasons,Kids' TV,"Lovable pug Chip starts kindergarten, makes ne...",TV Show
...,...,...,...,...,...,...,...,...,...,...,...,...
5832,70141644,Mad Ron's Prevues from Hell,Jim Monaco,"Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...",United States,"November 1, 2010",1987,NR,84 min,"Cult Movies, Horror Movies","This collection cherry-picks trailers, forgott...",Movie
5833,70127998,Splatter,Joe Dante,"Corey Feldman, Tony Todd, Tara Leigh, Erin Way...",United States,"November 18, 2009",2009,TV-14,29 min,Horror Movies,"After committing suicide, a washed-up rocker r...",Movie
5834,70084180,Just Another Love Story,Ole Bornedal,"Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...",Denmark,"May 5, 2009",2007,NR,104 min,"Dramas, International Movies",When he causes a car accident that leaves a yo...,Movie
5835,70157452,Dinner for Five,NaN,NaN,United States,"February 4, 2008",2007,TV-MA,1 Season,Stand-Up Comedy & Talk Shows,"In each episode, four celebrities join host Jo...",TV Show
5836,70053412,To and From New York,Sorin Dan Mihalcescu,"Barbara King, Shaana Diya, John Krisiukenas, Y...",United States,"January 1, 2008",2006,NR,81 min,"Dramas, Independent Movies, Thrillers","While covering a story in New York City, a Sea...",Movie

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5837 non-null   int64
 1   title         5837 non-null   object
 2   director      3936 non-null   object
 3   cast          5281 non-null   object
 4   country       5410 non-null   object
 5   date_added    5195 non-null   object
 6   release_year  5837 non-null   int64
 7   rating        5827 non-null   object
 8   duration      5837 non-null   object
 9   listed_in     5837 non-null   object
 10  description   5837 non-null   object
 11  type          5837 non-null   object
dtypes: int64(2), object(10)
memory usage: 547.3+ KB

In [16]:
data.isnull()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
5832,False,False,False,False,False,False,False,False,False,False,False,False
5833,False,False,False,False,False,False,False,False,False,False,False,False
5834,False,False,False,False,False,False,False,False,False,False,False,False
5835,False,False,True,True,False,False,False,False,False,False,False,False
5836,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
data.isnull().sum()

show_id            0
title              0
director        1901
cast             556
country          427
date_added       642
release_year       0
rating            10
duration           0
listed_in          0
description        0
type               0
dtype: int64

In [28]:
data_cleaned = data.dropna(inplace=True)

In [27]:
data_cleaned.isnull().sum()

show_id         0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
type            0
dtype: int64

In [33]:
data.duplicated().sum()

np.int64(0)

In [36]:
data.isnull().sum()

show_id         0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
type            0
dtype: int64

In [40]:
print(data['country'].value_counts())

country
United States                                     1206
India                                              628
United Kingdom                                     139
Canada                                              76
Spain                                               69
                                                  ...
Australia, France                                    1
United Kingdom, Germany, Canada, United States       1
Canada, Norway                                       1
Germany, Canada, United States                       1
France, Senegal, Belgium                             1
Name: count, Length: 406, dtype: int64

In [43]:
print(data['date_added'].unique())

['November 30, 2019' 'November 29, 2019' 'November 28, 2019'
 'November 27, 2019' 'November 26, 2019' 'November 25, 2019'
 'November 24, 2019' 'November 23, 2019' 'November 22, 2019'
 'November 21, 2019' 'November 20, 2019' 'November 19, 2019'
 'November 16, 2019' 'November 15, 2019' 'November 14, 2019'
 'November 12, 2019' 'November 11, 2019' 'November 8, 2019'
 'November 7, 2019' 'November 6, 2019' 'November 5, 2019'
 'November 4, 2019' 'November 3, 2019' 'November 2, 2019'
 'November 1, 2019' 'October 31, 2019' 'October 30, 2019'
 'October 29, 2019' 'October 28, 2019' 'October 26, 2019'
 'October 25, 2019' 'October 24, 2019' 'October 23, 2019'
 'October 22, 2019' 'October 21, 2019' 'October 19, 2019'
 'October 18, 2019' 'October 17, 2019' 'October 16, 2019'
 'October 15, 2019' 'October 14, 2019' 'October 13, 2019'
 'October 11, 2019' 'October 9, 2019' 'October 8, 2019' 'October 7, 2019'
 'October 6, 2019' 'October 5, 2019' 'October 4, 2019' 'October 2, 2019'
 'October 1, 2019' 'September 30, 2019' 'September 28, 2019'
 'September 27, 2019' 'September 26, 2019' 'September 25, 2019'
 'September 24, 2019' 'September 23, 2019' 'September 22, 2019'
 'September 21, 2019' 'September 20, 2019' 'September 19, 2019'
 'September 18, 2019' 'September 17, 2019' 'September 16, 2019'
 'September 15, 2019' 'September 14, 2019' 'September 13, 2019'
 'September 12, 2019' 'September 10, 2019' 'September 9, 2019'
 'September 6, 2019' 'September 4, 2019' 'September 1, 2019'
 'August 30, 2019' 'August 29, 2019' 'August 28, 2019' 'August 26, 2019'
 'August 25, 2019' 'August 24, 2019' 'August 23, 2019' 'August 21, 2019'
 'August 20, 2019' 'August 16, 2019' 'August 15, 2019' 'August 14, 2019'
 'August 13, 2019' 'August 9, 2019' 'August 8, 2019' 'August 7, 2019'
 'August 6, 2019' 'August 5, 2019' 'August 3, 2019' 'August 2, 2019'
 'August 1, 2019' 'July 31, 2019' 'July 30, 2019' 'July 29, 2019'
 'July 26, 2019' 'July 23, 2019' 'July 22, 2019' 'July 21, 2019'
 'July 20, 2019' 'July 19, 2019' 'July 18, 2019' 'July 17, 2019'
 'July 16, 2019' 'July 15, 2019' 'July 13, 2019' 'July 12, 2019'
 'July 9, 2019' 'July 7, 2019' 'July 6, 2019' 'July 4, 2019'
 'July 1, 2019' 'June 30, 2019' 'June 29, 2019' 'June 28, 2019'
 'June 27, 2019' 'June 26, 2019' 'June 25, 2019' 'June 22, 2019'
 'June 21, 2019' 'June 20, 2019' 'June 19, 2019' 'June 18, 2019'
 'June 16, 2019' 'June 15, 2019' 'June 14, 2019' 'June 13, 2019'
 'June 12, 2019' 'June 11, 2019' 'June 8, 2019' 'June 7, 2019'
 'June 6, 2019' 'June 5, 2019' 'June 4, 2019' 'June 2, 2019'
 'June 1, 2019' 'May 31, 2019' 'May 30, 2019' 'May 28, 2019'
 'May 26, 2019' 'May 24, 2019' 'May 22, 2019' 'May 21, 2019'
 'May 19, 2019' 'May 18, 2019' 'May 17, 2019' 'May 16, 2019'
 'May 15, 2019' 'May 14, 2019' 'May 13, 2019' 'May 12, 2019'
 'May 11, 2019' 'May 10, 2019' 'May 9, 2019' 'May 6, 2019' 'May 5, 2019'
 'May 3, 2019' 'May 2, 2019' 'May 1, 2019' 'April 30, 2019'
 'April 29, 2019' 'April 27, 2019' 'April 26, 2019' 'April 25, 2019'
 'April 24, 2019' 'April 20, 2019' 'April 19, 2019' 'April 18, 2019'
 'April 17, 2019' 'April 16, 2019' 'April 15, 2019' 'April 14, 2019'
 'April 13, 2019' 'April 12, 2019' 'April 11, 2019' 'April 10, 2019'
 'April 9, 2019' 'April 8, 2019' 'April 7, 2019' 'April 6, 2019'
 'April 5, 2019' 'April 3, 2019' 'April 2, 2019' 'April 1, 2019'
 'March 31, 2019' 'March 29, 2019' 'March 27, 2019' 'March 26, 2019'
 'March 25, 2019' 'March 24, 2019' 'March 23, 2019' 'March 22, 2019'
 'March 21, 2019' 'March 20, 2019' 'March 19, 2019' 'March 18, 2019'
 'March 17, 2019' 'March 16, 2019' 'March 15, 2019' 'March 14, 2019'
 'March 13, 2019' 'March 9, 2019' 'March 8, 2019' 'March 7, 2019'
 'March 5, 2019' 'March 4, 2019' 'March 3, 2019' 'March 2, 2019'
 'March 1, 2019' 'February 28, 2019' 'February 27, 2019'
 'February 26, 2019' 'February 25, 2019' 'February 24, 2019'
 'February 23, 2019' 'February 22, 2019' 'February 21, 2019'
 'February 20, 2019' 'February 19, 2019' 'February 17, 2019'
 'February 16, 2019' 'February 15, 2019' 'February 14, 2019'
 'February 13, 2019' 'February 12, 2019' 'February 11, 2019'
 'February 9, 2019' 'February 8, 2019' 'February 7, 2019'
 'February 6, 2019' 'February 5, 2019' 'February 2, 2019'
 'February 1, 2019' 'January 31, 2019' 'January 30, 2019'
 'January 29, 2019' 'January 28, 2019' 'January 26, 2019'
 'January 25, 2019' 'January 24, 2019' 'January 23, 2019'
 'January 21, 2019' 'January 19, 2019' 'January 18, 2019'
 'January 16, 2019' 'January 15, 2019' 'January 13, 2019'
 'January 12, 2019' 'January 11, 2019' 'January 9, 2019' 'January 8, 2019'
 'January 7, 2019' 'January 5, 2019' 'January 4, 2019' 'January 3, 2019'
 'January 2, 2019' 'January 1, 2019' 'December 31, 2018'
 'December 30, 2018' 'December 28, 2018' 'December 27, 2018'
 'December 26, 2018' 'December 25, 2018' 'December 23, 2018'
 'December 22, 2018' 'December 21, 2018' 'December 20, 2018'
 'December 19, 2018' 'December 18, 2018' 'December 17, 2018'
 'December 16, 2018' 'December 15, 2018' 'December 14, 2018'
 'December 11, 2018' 'December 10, 2018' 'December 9, 2018'
 'December 8, 2018' 'December 7, 2018' 'December 6, 2018'
 'December 5, 2018' 'December 4, 2018' 'December 3, 2018'
 'December 2, 2018' 'December 1, 2018' 'November 30, 2018'
 'November 28, 2018' 'November 27, 2018' 'November 25, 2018'
 'November 22, 2018' 'November 21, 2018' 'November 20, 2018'
 'November 18, 2018' 'November 16, 2018' 'November 15, 2018'
 'November 13, 2018' 'November 12, 2018' 'November 10, 2018'
 'November 9, 2018' 'November 8, 2018' 'November 7, 2018'
 'November 5, 2018' 'November 3, 2018' 'November 2, 2018'
 'November 1, 2018' 'October 31, 2018' 'October 30, 2018'
 'October 29, 2018' 'October 28, 2018' 'October 27, 2018'
 'October 26, 2018' 'October 25, 2018' 'October 24, 2018'
 'October 23, 2018' 'October 22, 2018' 'October 21, 2018'
 'October 20, 2018' 'October 19, 2018' 'October 18, 2018'
 'October 17, 2018' 'October 16, 2018' 'October 15, 2018'
 'October 13, 2018' 'October 12, 2018' 'October 11, 2018'
 'October 10, 2018' 'October 9, 2018' 'October 8, 2018' 'October 6, 2018'
 'October 5, 2018' 'October 4, 2018' 'October 3, 2018' 'October 2, 2018'
 'October 1, 2018' 'September 30, 2018' 'September 29, 2018'
 'September 28, 2018' 'September 27, 2018' 'September 26, 2018'
 'September 25, 2018' 'September 24, 2018' 'September 22, 2018'
 'September 21, 2018' 'September 20, 2018' 'September 19, 2018'
 'September 18, 2018' 'September 17, 2018' 'September 16, 2018'
 'September 15, 2018' 'September 14, 2018' 'September 12, 2018'
 'September 11, 2018' 'September 10, 2018' 'September 7, 2018'
 'September 6, 2018' 'September 5, 2018' 'September 4, 2018'
 'September 3, 2018' 'September 1, 2018' 'August 31, 2018'
 'August 29, 2018' 'August 28, 2018' 'August 26, 2018' 'August 25, 2018'
 'August 24, 2018' 'August 23, 2018' 'August 21, 2018' 'August 19, 2018'
 'August 18, 2018' 'August 17, 2018' 'August 16, 2018' 'August 15, 2018'
 'August 10, 2018' 'August 9, 2018' 'August 4, 2018' 'August 3, 2018'
 'August 2, 2018' 'August 1, 2018' 'July 31, 2018' 'July 30, 2018'
 'July 29, 2018' 'July 28, 2018' 'July 27, 2018' 'July 26, 2018'
 'July 25, 2018' 'July 24, 2018' 'July 22, 2018' 'July 21, 2018'
 'July 20, 2018' 'July 19, 2018' 'July 18, 2018' 'July 17, 2018'
 'July 15, 2018' 'July 14, 2018' 'July 13, 2018' 'July 11, 2018'
 'July 8, 2018' 'July 6, 2018' 'July 5, 2018' 'July 4, 2018'
 'July 3, 2018' 'July 2, 2018' 'July 1, 2018' 'June 30, 2018'
 'June 29, 2018' 'June 28, 2018' 'June 26, 2018' 'June 25, 2018'
 'June 24, 2018' 'June 23, 2018' 'June 22, 2018' 'June 19, 2018'
 'June 15, 2018' 'June 14, 2018' 'June 12, 2018' 'June 8, 2018'
 'June 7, 2018' 'June 5, 2018' 'June 4, 2018' 'June 2, 2018'
 'June 1, 2018' 'May 31, 2018' 'May 26, 2018' 'May 25, 2018'
 'May 24, 2018' 'May 22, 2018' 'May 19, 2018' 'May 18, 2018'
 'May 17, 2018' 'May 16, 2018' 'May 15, 2018' 'May 13, 2018'
 'May 12, 2018' 'May 11, 2018' 'May 8, 2018' 'May 7, 2018' 'May 5, 2018'
 'May 4, 2018' 'May 3, 2018' 'May 2, 2018' 'May 1, 2018' 'April 30, 2018'
 'April 27, 2018' 'April 26, 2018' 'April 25, 2018' 'April 24, 2018'
 'April 20, 2018' 'April 19, 2018' 'April 18, 2018' 'April 16, 2018'
 'April 15, 2018' 'April 14, 2018' 'April 13, 2018' 'April 12, 2018'
 'April 10, 2018' 'April 9, 2018' 'April 7, 2018' 'April 6, 2018'
 'April 5, 2018' 'April 4, 2018' 'April 3, 2018' 'April 1, 2018'
 'March 31, 2018' 'March 30, 2018' 'March 27, 2018' 'March 26, 2018'
 'March 24, 2018' 'March 23, 2018' 'March 21, 2018' 'March 19, 2018'
 'March 16, 2018' 'March 15, 2018' 'March 14, 2018' 'March 13, 2018'
 'March 12, 2018' 'March 11, 2018' 'March 10, 2018' 'March 9, 2018'
 'March 7, 2018' 'March 6, 2018' 'March 5, 2018' 'March 2, 2018'
 'March 1, 2018' 'February 28, 2018' 'February 27, 2018'
 'February 26, 2018' 'February 25, 2018' 'February 23, 2018'
 'February 21, 2018' 'February 20, 2018' 'February 19, 2018'
 'February 17, 2018' 'February 16, 2018' 'February 15, 2018'
 'February 14, 2018' 'February 9, 2018' 'February 8, 2018'
 'February 6, 2018' 'February 5, 2018' 'February 4, 2018'
 'February 2, 2018' 'February 1, 2018' 'January 31, 2018'
 'January 30, 2018' 'January 29, 2018' 'January 26, 2018'
 'January 25, 2018' 'January 24, 2018' 'January 23, 2018'
 'January 22, 2018' 'January 19, 2018' 'January 18, 2018'
 'January 17, 2018' 'January 16, 2018' 'January 15, 2018'
 'January 12, 2018' 'January 11, 2018' 'January 10, 2018'
 'January 9, 2018' 'January 8, 2018' 'January 6, 2018' 'January 5, 2018'
 'January 2, 2018' 'January 1, 2018' 'December 31, 2017'
 'December 30, 2017' 'December 29, 2017' 'December 27, 2017'
 'December 26, 2017' 'December 23, 2017' 'December 22, 2017'
 'December 21, 2017' 'December 20, 2017' 'December 19, 2017'
 'December 18, 2017' 'December 16, 2017' 'December 15, 2017'
 'December 12, 2017' 'December 11, 2017' 'December 8, 2017'
 'December 6, 2017' 'December 5, 2017' 'December 2, 2017'
 'December 1, 2017' 'November 27, 2017' 'November 24, 2017'
 'November 23, 2017' 'November 22, 2017' 'November 21, 2017'
 'November 18, 2017' 'November 17, 2017' 'November 16, 2017'
 'November 15, 2017' 'November 14, 2017' 'November 13, 2017'
 'November 12, 2017' 'November 11, 2017' 'November 10, 2017'
 'November 7, 2017' 'November 5, 2017' 'November 1, 2017'
 'October 31, 2017' 'October 30, 2017' 'October 28, 2017'
 'October 27, 2017' 'October 26, 2017' 'October 25, 2017'
 'October 24, 2017' 'October 23, 2017' 'October 22, 2017'
 'October 20, 2017' 'October 19, 2017' 'October 17, 2017'
 'October 16, 2017' 'October 15, 2017' 'October 14, 2017'
 'October 13, 2017' 'October 12, 2017' 'October 10, 2017'
 'October 7, 2017' 'October 6, 2017' 'October 3, 2017' 'October 2, 2017'
 'October 1, 2017' 'September 30, 2017' 'September 29, 2017'
 'September 27, 2017' 'September 26, 2017' 'September 25, 2017'
 'September 24, 2017' 'September 22, 2017' 'September 19, 2017'
 'September 18, 2017' 'September 15, 2017' 'September 13, 2017'
 'September 12, 2017' 'September 11, 2017' 'September 8, 2017'
 'September 7, 2017' 'September 6, 2017' 'September 5, 2017'
 'September 2, 2017' 'September 1, 2017' 'August 31, 2017'
 'August 29, 2017' 'August 28, 2017' 'August 27, 2017' 'August 26, 2017'
 'August 25, 2017' 'August 23, 2017' 'August 22, 2017' 'August 21, 2017'
 'August 20, 2017' 'August 19, 2017' 'August 18, 2017' 'August 17, 2017'
 'August 15, 2017' 'August 14, 2017' 'August 13, 2017' 'August 12, 2017'
 'August 11, 2017' 'August 10, 2017' 'August 9, 2017' 'August 8, 2017'
 'August 7, 2017' 'August 6, 2017' 'August 5, 2017' 'August 4, 2017'
 'August 3, 2017' 'August 1, 2017' 'July 30, 2017' 'July 28, 2017'
 'July 25, 2017' 'July 24, 2017' 'July 21, 2017' 'July 20, 2017'
 'July 18, 2017' 'July 17, 2017' 'July 15, 2017' 'July 14, 2017'
 'July 13, 2017' 'July 12, 2017' 'July 10, 2017' 'July 7, 2017'
 'July 6, 2017' 'July 2, 2017' 'July 1, 2017' 'June 28, 2017'
 'June 27, 2017' 'June 26, 2017' 'June 25, 2017' 'June 24, 2017'
 'June 23, 2017' 'June 22, 2017' 'June 21, 2017' 'June 20, 2017'
 'June 19, 2017' 'June 17, 2017' 'June 16, 2017' 'June 15, 2017'
 'June 13, 2017' 'June 10, 2017' 'June 9, 2017' 'June 8, 2017'
 'June 5, 2017' 'June 3, 2017' 'June 2, 2017' 'June 1, 2017'
 'May 30, 2017' 'May 29, 2017' 'May 26, 2017' 'May 25, 2017'
 'May 23, 2017' 'May 19, 2017' 'May 16, 2017' 'May 15, 2017'
 'May 13, 2017' 'May 12, 2017' 'May 10, 2017' 'May 9, 2017' 'May 5, 2017'
 'May 2, 2017' 'May 1, 2017' 'April 28, 2017' 'April 26, 2017'
 'April 25, 2017' 'April 22, 2017' 'April 21, 2017' 'April 19, 2017'
 'April 18, 2017' 'April 16, 2017' 'April 15, 2017' 'April 14, 2017'
 'April 12, 2017' 'April 11, 2017' 'April 10, 2017' 'April 8, 2017'
 'April 7, 2017' 'April 6, 2017' 'April 2, 2017' 'April 1, 2017'
 'March 31, 2017' 'March 30, 2017' 'March 28, 2017' 'March 27, 2017'
 'March 24, 2017' 'March 23, 2017' 'March 21, 2017' 'March 18, 2017'
 'March 17, 2017' 'March 16, 2017' 'March 15, 2017' 'March 14, 2017'
 'March 10, 2017' 'March 9, 2017' 'March 8, 2017' 'March 7, 2017'
 'March 2, 2017' 'March 1, 2017' 'February 28, 2017' 'February 27, 2017'
 'February 26, 2017' 'February 25, 2017' 'February 24, 2017'
 'February 23, 2017' 'February 22, 2017' 'February 21, 2017'
 'February 20, 2017' 'February 19, 2017' 'February 18, 2017'
 'February 17, 2017' 'February 16, 2017' 'February 15, 2017'
 'February 14, 2017' 'February 12, 2017' 'February 11, 2017'
 'February 10, 2017' 'February 8, 2017' 'February 7, 2017'
 'February 5, 2017' 'February 4, 2017' 'February 3, 2017'
 'February 2, 2017' 'February 1, 2017' 'January 31, 2017'
 'January 29, 2017' 'January 27, 2017' 'January 25, 2017'
 'January 24, 2017' 'January 23, 2017' 'January 20, 2017'
 'January 19, 2017' 'January 18, 2017' 'January 17, 2017'
 'January 16, 2017' 'January 15, 2017' 'January 14, 2017'
 'January 13, 2017' 'January 12, 2017' 'January 10, 2017'
 'January 7, 2017' 'January 6, 2017' 'January 5, 2017' 'January 4, 2017'
 'January 3, 2017' 'January 1, 2017' 'December 31, 2016'
 'December 23, 2016' 'December 21, 2016' 'December 20, 2016'
 'December 19, 2016' 'December 16, 2016' 'December 15, 2016'
 'December 14, 2016' 'December 12, 2016' 'December 11, 2016'
 'December 9, 2016' 'December 8, 2016' 'December 6, 2016'
 'December 5, 2016' 'December 4, 2016' 'December 3, 2016'
 'December 2, 2016' 'December 1, 2016' 'November 25, 2016'
 'November 22, 2016' 'November 21, 2016' 'November 19, 2016'
 'November 18, 2016' 'November 15, 2016' 'November 11, 2016'
 'November 10, 2016' 'November 8, 2016' 'November 4, 2016'
 'November 2, 2016' 'November 1, 2016' 'October 29, 2016'
 'October 28, 2016' 'October 27, 2016' 'October 21, 2016'
 'October 16, 2016' 'October 15, 2016' 'October 14, 2016'
 'October 13, 2016' 'October 12, 2016' 'October 7, 2016' 'October 4, 2016'
 'October 1, 2016' 'September 23, 2016' 'September 20, 2016'
 'September 16, 2016' 'September 15, 2016' 'September 6, 2016'
 'September 1, 2016' 'August 26, 2016' 'August 25, 2016' 'August 20, 2016'
 'August 19, 2016' 'August 15, 2016' 'August 13, 2016' 'August 11, 2016'
 'August 5, 2016' 'August 2, 2016' 'August 1, 2016' 'July 29, 2016'
 'July 25, 2016' 'July 21, 2016' 'July 15, 2016' 'July 14, 2016'
 'July 10, 2016' 'July 8, 2016' 'July 6, 2016' 'July 1, 2016'
 'June 24, 2016' 'June 18, 2016' 'June 13, 2016' 'June 3, 2016'
 'June 1, 2016' 'May 27, 2016' 'May 26, 2016' 'May 15, 2016' 'May 8, 2016'
 'May 6, 2016' 'May 5, 2016' 'May 1, 2016' 'April 29, 2016'
 'April 20, 2016' 'April 15, 2016' 'April 9, 2016' 'April 8, 2016'
 'April 1, 2016' 'March 31, 2016' 'March 25, 2016' 'March 19, 2016'
 'March 18, 2016' 'March 16, 2016' 'March 9, 2016' 'March 7, 2016'
 'March 1, 2016' 'February 26, 2016' 'February 24, 2016'
 'February 18, 2016' 'February 14, 2016' 'February 6, 2016'
 'February 5, 2016' 'February 4, 2016' 'January 28, 2016'
 'January 22, 2016' 'January 15, 2016' 'January 8, 2016' 'January 1, 2016'
 'December 28, 2015' 'December 26, 2015' 'December 20, 2015'
 'December 18, 2015' 'December 17, 2015' 'December 15, 2015'
 'December 11, 2015' 'December 9, 2015' 'December 4, 2015'
 'December 1, 2015' 'November 18, 2015' 'November 13, 2015'
 'October 31, 2015' 'October 27, 2015' 'October 25, 2015'
 'October 22, 2015' 'October 16, 2015' 'October 14, 2015'
 'October 10, 2015' 'October 2, 2015' 'September 29, 2015'
 'September 22, 2015' 'September 18, 2015' 'September 15, 2015'
 'September 8, 2015' 'September 2, 2015' 'August 14, 2015'
 'August 5, 2015' 'July 17, 2015' 'July 15, 2015' 'July 14, 2015'
 'July 10, 2015' 'July 7, 2015' 'June 29, 2015' 'June 23, 2015'
 'June 1, 2015' 'May 22, 2015' 'May 17, 2015' 'May 10, 2015'
 'April 22, 2015' 'April 17, 2015' 'March 6, 2015' 'February 27, 2015'
 'December 18, 2014' 'December 17, 2014' 'December 12, 2014'
 'December 5, 2014' 'November 14, 2014' 'October 21, 2014'
 'October 12, 2014' 'October 10, 2014' 'August 15, 2014' 'July 11, 2014'
 'June 15, 2014' 'February 16, 2014' 'January 24, 2014' 'January 17, 2014'
 'December 29, 2013' 'December 12, 2013' 'November 1, 2013'
 'October 14, 2013' 'September 1, 2013' 'March 31, 2013'
 'December 1, 2012' 'November 14, 2012' 'July 15, 2012'
 'February 21, 2012' 'October 1, 2011' 'September 27, 2011' 'May 17, 2011'
 'November 1, 2010' 'November 18, 2009' 'May 5, 2009' 'January 1, 2008']

In [49]:
data['date_added'] = pd.to_datetime(data['date_added'],errors = 'coerce')
data['date_added'] = data['date_added'].dt.strftime('%d-%m-%Y')

C:\Users\ahamm\AppData\Local\Temp\ipykernel_26464\1886055057.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['date_added'] = pd.to_datetime(data['date_added'],errors = 'coerce')

In [50]:
data

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,30-11-2019,2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium",29-11-2019,2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
5,81172754,Crazy people,Moses Inwang,"Ramsey Nouah, Chigul, Sola Sobowale, Ireti Doy...",Nigeria,29-11-2019,2018,TV-14,107 min,"Comedies, International Movies, Thrillers",Nollywood star Ramsey Nouah learns that someon...,Movie
6,81120982,I Lost My Body,JÃ©rÃ©my Clapin,"Hakim Faris, Victoire Du Bois, Patrick d'Assum...",France,29-11-2019,2019,TV-MA,81 min,"Dramas, Independent Movies, International Movies","Romance, mystery and adventure intertwine as a...",Movie
7,81227195,Kalushi: The Story of Solomon Mahlangu,Mandla Dube,"Thabo Rametsi, Thabo Malema, Welile Nzuza, Jaf...",South Africa,29-11-2019,2016,TV-MA,107 min,"Dramas, International Movies",The life and times of iconic South African lib...,Movie
...,...,...,...,...,...,...,...,...,...,...,...,...
5831,70154110,Even the Rain,IcÃ­ar BollaÃ­n,"Luis Tosar, Gael GarcÃ­a Bernal, Juan Carlos Ad...","Spain, Mexico, France",17-05-2011,2010,NR,103 min,"Dramas, International Movies",While making a film about the incursion of Chr...,Movie
5832,70141644,Mad Ron's Prevues from Hell,Jim Monaco,"Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...",United States,11-01-2010,1987,NR,84 min,"Cult Movies, Horror Movies","This collection cherry-picks trailers, forgott...",Movie
5833,70127998,Splatter,Joe Dante,"Corey Feldman, Tony Todd, Tara Leigh, Erin Way...",United States,18-11-2009,2009,TV-14,29 min,Horror Movies,"After committing suicide, a washed-up rocker r...",Movie
5834,70084180,Just Another Love Story,Ole Bornedal,"Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...",Denmark,05-05-2009,2007,NR,104 min,"Dramas, International Movies",When he causes a car accident that leaves a yo...,Movie
5836,70053412,To and From New York,Sorin Dan Mihalcescu,"Barbara King, Shaana Diya, John Krisiukenas, Y...",United States,01-01-2008,2006,NR,81 min,"Dramas, Independent Movies, Thrillers","While covering a story in New York City, a Sea...",Movie

In [58]:
data.head(5)

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,2019-11-30,2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium",2019-11-29,2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
5,81172754,Crazy people,Moses Inwang,"Ramsey Nouah, Chigul, Sola Sobowale, Ireti Doy...",Nigeria,2019-11-29,2018,TV-14,107 min,"Comedies, International Movies, Thrillers",Nollywood star Ramsey Nouah learns that someon...,Movie
6,81120982,I Lost My Body,JÃ©rÃ©my Clapin,"Hakim Faris, Victoire Du Bois, Patrick d'Assum...",France,2019-11-29,2019,TV-MA,81 min,"Dramas, Independent Movies, International Movies","Romance, mystery and adventure intertwine as a...",Movie
7,81227195,Kalushi: The Story of Solomon Mahlangu,Mandla Dube,"Thabo Rametsi, Thabo Malema, Welile Nzuza, Jaf...",South Africa,2019-11-29,2016,TV-MA,107 min,"Dramas, International Movies",The life and times of iconic South African lib...,Movie

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3447 entries, 2 to 5836
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3447 non-null   int64
 1   title         3447 non-null   object
 2   director      3447 non-null   object
 3   cast          3447 non-null   object
 4   country       3447 non-null   object
 5   date_added    3447 non-null   object
 6   release_year  3447 non-null   int64
 7   rating        3447 non-null   object
 8   duration      3447 non-null   object
 9   listed_in     3447 non-null   object
 10  description   3447 non-null   object
 11  type          3447 non-null   object
dtypes: int64(2), object(10)
memory usage: 350.1+ KB

In [55]:
data['date_added'] = pd.to_datetime(data['date_added'], errors = 'coerce')

C:\Users\ahamm\AppData\Local\Temp\ipykernel_26464\3178336243.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['date_added'] = pd.to_datetime(data['date_added'], errors = 'coerce')

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3447 entries, 2 to 5836
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3447 non-null   int64
 1   title         3447 non-null   object
 2   director      3447 non-null   object
 3   cast          3447 non-null   object
 4   country       3447 non-null   object
 5   date_added    3447 non-null   datetime64[ns]
 6   release_year  3447 non-null   int64
 7   rating        3447 non-null   object
 8   duration      3447 non-null   object
 9   listed_in     3447 non-null   object
 10  description   3447 non-null   object
 11  type          3447 non-null   object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 350.1+ KB

In [59]:
data

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,2019-11-30,2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium",2019-11-29,2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
5,81172754,Crazy people,Moses Inwang,"Ramsey Nouah, Chigul, Sola Sobowale, Ireti Doy...",Nigeria,2019-11-29,2018,TV-14,107 min,"Comedies, International Movies, Thrillers",Nollywood star Ramsey Nouah learns that someon...,Movie
6,81120982,I Lost My Body,JÃ©rÃ©my Clapin,"Hakim Faris, Victoire Du Bois, Patrick d'Assum...",France,2019-11-29,2019,TV-MA,81 min,"Dramas, Independent Movies, International Movies","Romance, mystery and adventure intertwine as a...",Movie
7,81227195,Kalushi: The Story of Solomon Mahlangu,Mandla Dube,"Thabo Rametsi, Thabo Malema, Welile Nzuza, Jaf...",South Africa,2019-11-29,2016,TV-MA,107 min,"Dramas, International Movies",The life and times of iconic South African lib...,Movie
...,...,...,...,...,...,...,...,...,...,...,...,...
5831,70154110,Even the Rain,IcÃ­ar BollaÃ­n,"Luis Tosar, Gael GarcÃ­a Bernal, Juan Carlos Ad...","Spain, Mexico, France",2011-05-17,2010,NR,103 min,"Dramas, International Movies",While making a film about the incursion of Chr...,Movie
5832,70141644,Mad Ron's Prevues from Hell,Jim Monaco,"Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...",United States,2010-01-11,1987,NR,84 min,"Cult Movies, Horror Movies","This collection cherry-picks trailers, forgott...",Movie
5833,70127998,Splatter,Joe Dante,"Corey Feldman, Tony Todd, Tara Leigh, Erin Way...",United States,2009-11-18,2009,TV-14,29 min,Horror Movies,"After committing suicide, a washed-up rocker r...",Movie
5834,70084180,Just Another Love Story,Ole Bornedal,"Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...",Denmark,2009-05-05,2007,NR,104 min,"Dramas, International Movies",When he causes a car accident that leaves a yo...,Movie
5836,70053412,To and From New York,Sorin Dan Mihalcescu,"Barbara King, Shaana Diya, John Krisiukenas, Y...",United States,2008-01-01,2006,NR,81 min,"Dramas, Independent Movies, Thrillers","While covering a story in New York City, a Sea...",Movie

In [61]:
print(data['date_added'])

2      2019-11-30
3      2019-11-29
5      2019-11-29
6      2019-11-29
7      2019-11-29
          ...
5831   2011-05-17
5832   2010-01-11
5833   2009-11-18
5834   2009-05-05
5836   2008-01-01
Name: date_added, Length: 3447, dtype: datetime64[ns]

In [62]:
data['date_added'] = pd.to_datetime(data['date_added'],errors = 'coerce')
data['date_added'] = data['date_added'].dt.strftime('%d-%m-%Y')

In [64]:
print(data['date_added'].unique())

['30-11-2019' '29-11-2019' '28-11-2019' '27-11-2019' '26-11-2019'
 '25-11-2019' '24-11-2019' '23-11-2019' '22-11-2019' '21-11-2019'
 '20-11-2019' '19-11-2019' '16-11-2019' '15-11-2019' '14-11-2019'
 '11-12-2019' '11-11-2019' '11-08-2019' '11-07-2019' '11-06-2019'
 '11-05-2019' '11-04-2019' '11-03-2019' '11-02-2019' '11-01-2019'
 '31-10-2019' '30-10-2019' '29-10-2019' '28-10-2019' '26-10-2019'
 '25-10-2019' '24-10-2019' '23-10-2019' '22-10-2019' '21-10-2019'
 '19-10-2019' '18-10-2019' '17-10-2019' '16-10-2019' '15-10-2019'
 '14-10-2019' '13-10-2019' '10-11-2019' '10-09-2019' '10-08-2019'
 '10-07-2019' '10-06-2019' '10-05-2019' '10-04-2019' '10-02-2019'
 '10-01-2019' '30-09-2019' '28-09-2019' '27-09-2019' '26-09-2019'
 '25-09-2019' '24-09-2019' '23-09-2019' '22-09-2019' '21-09-2019'
 '20-09-2019' '19-09-2019' '18-09-2019' '17-09-2019' '16-09-2019'
 '15-09-2019' '14-09-2019' '13-09-2019' '09-12-2019' '09-10-2019'
 '09-09-2019' '09-06-2019' '09-04-2019' '09-01-2019' '30-08-2019'
 '29-08-2019' '28-08-2019' '26-08-2019' '25-08-2019' '24-08-2019'
 '23-08-2019' '21-08-2019' '20-08-2019' '16-08-2019' '15-08-2019'
 '14-08-2019' '13-08-2019' '08-09-2019' '08-08-2019' '08-07-2019'
 '08-06-2019' '08-05-2019' '08-03-2019' '08-02-2019' '08-01-2019'
 '31-07-2019' '30-07-2019' '29-07-2019' '26-07-2019' '23-07-2019'
 '22-07-2019' '21-07-2019' '20-07-2019' '19-07-2019' '18-07-2019'
 '17-07-2019' '16-07-2019' '15-07-2019' '13-07-2019' '07-12-2019'
 '07-09-2019' '07-07-2019' '07-06-2019' '07-04-2019' '07-01-2019'
 '30-06-2019' '29-06-2019' '28-06-2019' '27-06-2019' '26-06-2019'
 '25-06-2019' '22-06-2019' '21-06-2019' '20-06-2019' '19-06-2019'
 '18-06-2019' '16-06-2019' '15-06-2019' '14-06-2019' '13-06-2019'
 '06-12-2019' '06-11-2019' '06-08-2019' '06-07-2019' '06-06-2019'
 '06-05-2019' '06-04-2019' '06-02-2019' '06-01-2019' '31-05-2019'
 '30-05-2019' '28-05-2019' '26-05-2019' '24-05-2019' '22-05-2019'
 '21-05-2019' '19-05-2019' '18-05-2019' '17-05-2019' '16-05-2019'
 '15-05-2019' '14-05-2019' '13-05-2019' '05-12-2019' '05-11-2019'
 '05-10-2019' '05-09-2019' '05-06-2019' '05-05-2019' '05-03-2019'
 '05-02-2019' '05-01-2019' '30-04-2019' '29-04-2019' '27-04-2019'
 '26-04-2019' '25-04-2019' '24-04-2019' '20-04-2019' '19-04-2019'
 '18-04-2019' '17-04-2019' '16-04-2019' '15-04-2019' '14-04-2019'
 '13-04-2019' '04-12-2019' '04-11-2019' '04-10-2019' '04-09-2019'
 '04-08-2019' '04-07-2019' '04-06-2019' '04-05-2019' '04-03-2019'
 '04-02-2019' '04-01-2019' '31-03-2019' '29-03-2019' '27-03-2019'
 '26-03-2019' '25-03-2019' '24-03-2019' '23-03-2019' '22-03-2019'
 '21-03-2019' '20-03-2019' '19-03-2019' '18-03-2019' '17-03-2019'
 '16-03-2019' '15-03-2019' '14-03-2019' '13-03-2019' '03-09-2019'
 '03-08-2019' '03-07-2019' '03-05-2019' '03-04-2019' '03-03-2019'
 '03-02-2019' '03-01-2019' '28-02-2019' '27-02-2019' '26-02-2019'
 '25-02-2019' '24-02-2019' '23-02-2019' '22-02-2019' '21-02-2019'
 '20-02-2019' '19-02-2019' '17-02-2019' '16-02-2019' '15-02-2019'
 '14-02-2019' '13-02-2019' '02-12-2019' '02-11-2019' '02-09-2019'
 '02-08-2019' '02-07-2019' '02-06-2019' '02-05-2019' '02-02-2019'
 '02-01-2019' '31-01-2019' '30-01-2019' '29-01-2019' '28-01-2019'
 '26-01-2019' '25-01-2019' '24-01-2019' '23-01-2019' '21-01-2019'
 '19-01-2019' '18-01-2019' '16-01-2019' '15-01-2019' '13-01-2019'
 '01-12-2019' '01-11-2019' '01-09-2019' '01-08-2019' '01-07-2019'
 '01-05-2019' '01-04-2019' '01-03-2019' '01-02-2019' '01-01-2019'
 '31-12-2018' '30-12-2018' '28-12-2018' '27-12-2018' '26-12-2018'
 '25-12-2018' '23-12-2018' '22-12-2018' '21-12-2018' '20-12-2018'
 '19-12-2018' '18-12-2018' '17-12-2018' '16-12-2018' '15-12-2018'
 '14-12-2018' '12-11-2018' '12-10-2018' '12-09-2018' '12-08-2018'
 '12-07-2018' '12-06-2018' '12-05-2018' '12-04-2018' '12-03-2018'
 '12-02-2018' '12-01-2018' '30-11-2018' '28-11-2018' '27-11-2018'
 '25-11-2018' '22-11-2018' '21-11-2018' '20-11-2018' '18-11-2018'
 '16-11-2018' '15-11-2018' '13-11-2018' '11-12-2018' '11-10-2018'
 '11-09-2018' '11-08-2018' '11-07-2018' '11-05-2018' '11-03-2018'
 '11-02-2018' '11-01-2018' '31-10-2018' '30-10-2018' '29-10-2018'
 '28-10-2018' '27-10-2018' '26-10-2018' '25-10-2018' '24-10-2018'
 '23-10-2018' '22-10-2018' '21-10-2018' '20-10-2018' '19-10-2018'
 '18-10-2018' '17-10-2018' '16-10-2018' '15-10-2018' '13-10-2018'
 '10-12-2018' '10-11-2018' '10-10-2018' '10-09-2018' '10-08-2018'
 '10-06-2018' '10-05-2018' '10-04-2018' '10-03-2018' '10-02-2018'
 '10-01-2018' '30-09-2018' '29-09-2018' '28-09-2018' '27-09-2018'
 '26-09-2018' '25-09-2018' '24-09-2018' '22-09-2018' '21-09-2018'
 '20-09-2018' '19-09-2018' '18-09-2018' '17-09-2018' '16-09-2018'
 '15-09-2018' '14-09-2018' '09-12-2018' '09-11-2018' '09-10-2018'
 '09-07-2018' '09-06-2018' '09-05-2018' '09-04-2018' '09-03-2018'
 '09-01-2018' '31-08-2018' '29-08-2018' '28-08-2018' '26-08-2018'
 '25-08-2018' '24-08-2018' '23-08-2018' '21-08-2018' '19-08-2018'
 '18-08-2018' '17-08-2018' '16-08-2018' '15-08-2018' '08-10-2018'
 '08-09-2018' '08-04-2018' '08-03-2018' '08-02-2018' '08-01-2018'
 '31-07-2018' '30-07-2018' '29-07-2018' '28-07-2018' '27-07-2018'
 '26-07-2018' '25-07-2018' '24-07-2018' '22-07-2018' '21-07-2018'
 '20-07-2018' '19-07-2018' '18-07-2018' '17-07-2018' '15-07-2018'
 '14-07-2018' '13-07-2018' '07-11-2018' '07-08-2018' '07-06-2018'
 '07-05-2018' '07-04-2018' '07-03-2018' '07-02-2018' '07-01-2018'
 '30-06-2018' '29-06-2018' '28-06-2018' '26-06-2018' '25-06-2018'
 '24-06-2018' '23-06-2018' '22-06-2018' '19-06-2018' '15-06-2018'
 '14-06-2018' '06-12-2018' '06-08-2018' '06-07-2018' '06-05-2018'
 '06-04-2018' '06-02-2018' '06-01-2018' '31-05-2018' '26-05-2018'
 '25-05-2018' '24-05-2018' '22-05-2018' '19-05-2018' '18-05-2018'
 '17-05-2018' '16-05-2018' '15-05-2018' '13-05-2018' '05-12-2018'
 '05-11-2018' '05-08-2018' '05-07-2018' '05-05-2018' '05-04-2018'
 '05-03-2018' '05-02-2018' '05-01-2018' '30-04-2018' '27-04-2018'
 '26-04-2018' '25-04-2018' '24-04-2018' '20-04-2018' '19-04-2018'
 '18-04-2018' '16-04-2018' '15-04-2018' '14-04-2018' '13-04-2018'
 '04-12-2018' '04-10-2018' '04-09-2018' '04-07-2018' '04-06-2018'
 '04-05-2018' '04-04-2018' '04-03-2018' '04-01-2018' '31-03-2018'
 '30-03-2018' '27-03-2018' '26-03-2018' '24-03-2018' '23-03-2018'
 '21-03-2018' '19-03-2018' '16-03-2018' '15-03-2018' '14-03-2018'
 '13-03-2018' '03-12-2018' '03-11-2018' '03-10-2018' '03-09-2018'
 '03-07-2018' '03-06-2018' '03-05-2018' '03-02-2018' '03-01-2018'
 '28-02-2018' '27-02-2018' '26-02-2018' '25-02-2018' '23-02-2018'
 '21-02-2018' '20-02-2018' '19-02-2018' '17-02-2018' '16-02-2018'
 '15-02-2018' '14-02-2018' '02-09-2018' '02-08-2018' '02-06-2018'
 '02-05-2018' '02-04-2018' '02-02-2018' '02-01-2018' '31-01-2018'
 '30-01-2018' '29-01-2018' '26-01-2018' '25-01-2018' '24-01-2018'
 '23-01-2018' '22-01-2018' '19-01-2018' '18-01-2018' '17-01-2018'
 '16-01-2018' '15-01-2018' '01-12-2018' '01-11-2018' '01-10-2018'
 '01-09-2018' '01-08-2018' '01-06-2018' '01-05-2018' '01-02-2018'
 '01-01-2018' '31-12-2017' '30-12-2017' '29-12-2017' '27-12-2017'
 '26-12-2017' '23-12-2017' '22-12-2017' '21-12-2017' '20-12-2017'
 '19-12-2017' '18-12-2017' '16-12-2017' '15-12-2017' '12-12-2017'
 '12-11-2017' '12-08-2017' '12-06-2017' '12-05-2017' '12-02-2017'
 '12-01-2017' '27-11-2017' '24-11-2017' '23-11-2017' '22-11-2017'
 '21-11-2017' '18-11-2017' '17-11-2017' '16-11-2017' '15-11-2017'
 '14-11-2017' '13-11-2017' '11-12-2017' '11-11-2017' '11-10-2017'
 '11-07-2017' '11-05-2017' '11-01-2017' '31-10-2017' '30-10-2017'
 '28-10-2017' '27-10-2017' '26-10-2017' '25-10-2017' '24-10-2017'
 '23-10-2017' '22-10-2017' '20-10-2017' '19-10-2017' '17-10-2017'
 '16-10-2017' '15-10-2017' '14-10-2017' '13-10-2017' '10-12-2017'
 '10-10-2017' '10-07-2017' '10-06-2017' '10-03-2017' '10-02-2017'
 '10-01-2017' '30-09-2017' '29-09-2017' '27-09-2017' '26-09-2017'
 '25-09-2017' '24-09-2017' '22-09-2017' '19-09-2017' '18-09-2017'
 '15-09-2017' '13-09-2017' '09-12-2017' '09-11-2017' '09-08-2017'
 '09-07-2017' '09-06-2017' '09-05-2017' '09-02-2017' '09-01-2017'
 '31-08-2017' '29-08-2017' '28-08-2017' '27-08-2017' '26-08-2017'
 '25-08-2017' '23-08-2017' '22-08-2017' '21-08-2017' '20-08-2017'
 '19-08-2017' '18-08-2017' '17-08-2017' '15-08-2017' '14-08-2017'
 '13-08-2017' '08-12-2017' '08-11-2017' '08-10-2017' '08-09-2017'
 '08-08-2017' '08-07-2017' '08-06-2017' '08-05-2017' '08-04-2017'
 '08-03-2017' '08-01-2017' '30-07-2017' '28-07-2017' '25-07-2017'
 '24-07-2017' '21-07-2017' '20-07-2017' '18-07-2017' '17-07-2017'
 '15-07-2017' '14-07-2017' '13-07-2017' '07-12-2017' '07-10-2017'
 '07-07-2017' '07-06-2017' '07-02-2017' '07-01-2017' '28-06-2017'
 '27-06-2017' '26-06-2017' '25-06-2017' '24-06-2017' '23-06-2017'
 '22-06-2017' '21-06-2017' '20-06-2017' '19-06-2017' '17-06-2017'
 '16-06-2017' '15-06-2017' '13-06-2017' '06-10-2017' '06-09-2017'
 '06-08-2017' '06-05-2017' '06-03-2017' '06-02-2017' '06-01-2017'
 '30-05-2017' '29-05-2017' '26-05-2017' '25-05-2017' '23-05-2017'
 '19-05-2017' '16-05-2017' '15-05-2017' '13-05-2017' '05-12-2017'
 '05-10-2017' '05-09-2017' '05-05-2017' '05-02-2017' '05-01-2017'
 '28-04-2017' '26-04-2017' '25-04-2017' '22-04-2017' '21-04-2017'
 '19-04-2017' '18-04-2017' '16-04-2017' '15-04-2017' '14-04-2017'
 '04-12-2017' '04-11-2017' '04-10-2017' '04-08-2017' '04-07-2017'
 '04-06-2017' '04-02-2017' '04-01-2017' '31-03-2017' '30-03-2017'
 '28-03-2017' '27-03-2017' '24-03-2017' '23-03-2017' '21-03-2017'
 '18-03-2017' '17-03-2017' '16-03-2017' '15-03-2017' '14-03-2017'
 '03-10-2017' '03-09-2017' '03-08-2017' '03-07-2017' '03-02-2017'
 '03-01-2017' '28-02-2017' '27-02-2017' '26-02-2017' '25-02-2017'
 '24-02-2017' '23-02-2017' '22-02-2017' '21-02-2017' '20-02-2017'
 '19-02-2017' '18-02-2017' '17-02-2017' '16-02-2017' '15-02-2017'
 '14-02-2017' '02-12-2017' '02-11-2017' '02-10-2017' '02-08-2017'
 '02-07-2017' '02-05-2017' '02-04-2017' '02-03-2017' '02-02-2017'
 '02-01-2017' '31-01-2017' '29-01-2017' '27-01-2017' '25-01-2017'
 '24-01-2017' '23-01-2017' '20-01-2017' '19-01-2017' '18-01-2017'
 '17-01-2017' '16-01-2017' '15-01-2017' '14-01-2017' '13-01-2017'
 '01-12-2017' '01-10-2017' '01-07-2017' '01-06-2017' '01-05-2017'
 '01-04-2017' '01-03-2017' '01-01-2017' '31-12-2016' '23-12-2016'
 '21-12-2016' '20-12-2016' '19-12-2016' '16-12-2016' '15-12-2016'
 '14-12-2016' '12-12-2016' '12-11-2016' '12-09-2016' '12-08-2016'
 '12-06-2016' '12-05-2016' '12-04-2016' '12-03-2016' '12-02-2016'
 '12-01-2016' '25-11-2016' '22-11-2016' '21-11-2016' '19-11-2016'
 '18-11-2016' '15-11-2016' '11-11-2016' '11-10-2016' '11-08-2016'
 '11-04-2016' '11-02-2016' '11-01-2016' '29-10-2016' '28-10-2016'
 '27-10-2016' '21-10-2016' '16-10-2016' '15-10-2016' '14-10-2016'
 '13-10-2016' '10-12-2016' '10-07-2016' '10-04-2016' '10-01-2016'
 '23-09-2016' '20-09-2016' '16-09-2016' '15-09-2016' '09-06-2016'
 '09-01-2016' '26-08-2016' '25-08-2016' '20-08-2016' '19-08-2016'
 '15-08-2016' '13-08-2016' '08-11-2016' '08-05-2016' '08-02-2016'
 '08-01-2016' '29-07-2016' '25-07-2016' '21-07-2016' '15-07-2016'
 '14-07-2016' '07-10-2016' '07-08-2016' '07-06-2016' '07-01-2016'
 '24-06-2016' '18-06-2016' '13-06-2016' '06-03-2016' '06-01-2016'
 '27-05-2016' '26-05-2016' '15-05-2016' '05-08-2016' '05-06-2016'
 '05-05-2016' '05-01-2016' '29-04-2016' '20-04-2016' '15-04-2016'
 '04-09-2016' '04-08-2016' '04-01-2016' '31-03-2016' '25-03-2016'
 '19-03-2016' '18-03-2016' '16-03-2016' '03-09-2016' '03-07-2016'
 '03-01-2016' '26-02-2016' '24-02-2016' '18-02-2016' '14-02-2016'
 '02-06-2016' '02-05-2016' '02-04-2016' '28-01-2016' '22-01-2016'
 '15-01-2016' '01-08-2016' '01-01-2016' '28-12-2015' '26-12-2015'
 '20-12-2015' '18-12-2015' '17-12-2015' '15-12-2015' '12-11-2015'
 '12-09-2015' '12-04-2015' '12-01-2015' '18-11-2015' '13-11-2015'
 '31-10-2015' '27-10-2015' '25-10-2015' '22-10-2015' '16-10-2015'
 '14-10-2015' '10-10-2015' '10-02-2015' '29-09-2015' '22-09-2015'
 '18-09-2015' '15-09-2015' '09-08-2015' '09-02-2015' '14-08-2015'
 '08-05-2015' '17-07-2015' '15-07-2015' '14-07-2015' '07-10-2015'
 '07-07-2015' '29-06-2015' '23-06-2015' '06-01-2015' '22-05-2015'
 '17-05-2015' '05-10-2015' '22-04-2015' '17-04-2015' '03-06-2015'
 '27-02-2015' '18-12-2014' '17-12-2014' '12-12-2014' '12-05-2014'
 '14-11-2014' '21-10-2014' '10-12-2014' '10-10-2014' '15-08-2014'
 '07-11-2014' '15-06-2014' '16-02-2014' '24-01-2014' '17-01-2014'
 '29-12-2013' '12-12-2013' '11-01-2013' '14-10-2013' '09-01-2013'
 '31-03-2013' '12-01-2012' '14-11-2012' '15-07-2012' '21-02-2012'
 '10-01-2011' '27-09-2011' '17-05-2011' '11-01-2010' '18-11-2009'
 '05-05-2009' '01-01-2008']